body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown input[type="text"] {
    border-radius: 20px;
    padding: 10px;
  }
  
  .dropdown-wali-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    border-radius: 20px;
    overflow-y: auto;
  }
  
  .dropdown-wali-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-wali-items a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }