@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.main{
    width: 100%;
    height: 100vh;
    background: url('../images/1.jpg');
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;

}

.title{
    margin-top: 10px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col{
    margin-top: 10px;
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
}

.col div{
    width: 250px;
    text-align: center;
}

input{
    height: 50px;
    width: 50%;
    background-color: rgba(255,255,255,0.9);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;

}