@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:ital,wght@0,200;0,300;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    transition: 0.2s;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    background-color: white;
}

button{
    display: block;
    margin-top: 5px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    border: none;
}